*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fbf5f4;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
}

p {
  font-size: clamp(0.8rem, -0.875rem + 8.333vw, 1.5rem);
}

h1 {
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3.5rem);
}

h2 {
  font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2.5rem);
}
h3 {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
}
